<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.qicp.aaron.mapper.MaterialMapper">

    <resultMap id="materialResult" type="MaterialBean">
        <id column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer"></id>
        <result column="product_name" property="productName"></result>
        <result column="company_id" property="companyId"></result>
        <result column="smtype_id" property="smTypeId"></result>
        <result column="size" property="size"></result>
        <result column="smstyle_id" property="smStyleId"></result>
        <result column="product_theme" property="productTheme"></result>
        <result column="download" property="download"></result>
        <result column="consume" property="consume"></result>
        <result column="starlevel" property="starLevel"></result>
        <result column="media_id" property="mediaId"></result>
        <result column="platform" property="platform"></result>
        <result column="like" property="like"></result>
        <result column="browse" property="browse"></result>
        <result column="entrytime" property="entryTime"></result>
        <result column="materialpath" property="materialPath"></result>
        <result column="isdelete" property="isDelete"></result>
        <!-- 配置一对一映射 -->
        <association property="companyBean" javaType="CompanyBean">
            <id column="id" property="id"></id>
            <result column="c_name" property="cName"></result>
        </association>
        <association property="smTypeBean" javaType="SMTypeBean">
            <id column="id" property="id"></id>
            <result column="t_name" property="tName"></result>
        </association>
        <association property="smStyleBean" javaType="SMStyleBean">
            <id column="id" property="id"></id>
            <result column="s_name" property="sName"></result>
        </association>
        <association property="mediaBean" javaType="MediaBean">
            <id column="id" property="id"></id>
            <result column="m_name" property="mName"></result>
        </association>
    </resultMap>

    <!-- 素材字段列表 -->
    <sql id="materialColumn">
        ml.id, product_name, company_id, smtype_id, `size`,
        smstyle_id, product_theme, download, consume, starlevel,
        media_id, platform, `like`, browse, entrytime, materialpath
    </sql>

    <!-- 获取素材风格 -->
    <select id="getStyle" resultType="SMStyleBean">
        select id,s_name from mbms_smstyle
    </select>
    <!-- 获取素材类型 -->
    <select id="getType" resultType="SMTypeBean">
        select id,t_name from mbms_smtype
    </select>
    <!-- 获取媒体信息 -->
    <select id="getMedia" resultType="MediaBean">
        select id,m_name from mbms_media
    </select>
    <!-- 获取公司信息 -->
    <select id="getCompany" resultType="CompanyBean">
        select id,c_name from mbms_company
    </select>

    <!-- 根据公司名称查询ID -->
    <select id="findCompanyIdByName" resultType="java.lang.Integer" parameterType="java.lang.String">
        select id from mbms_company where c_name=#{_parameter}
    </select>

    <!-- 保存公司信息 -->
    <insert id="saveCompany" parameterType="java.lang.String">
        insert into mbms_company(c_name) values(#{_parameter})
    </insert>

    <!-- 录入素材 -->
    <insert id="recordMaterial" parameterType="MaterialBean">
        insert into mbms_material
        <trim prefix="(" suffix=")" suffixOverrides=",">
            company_id,
            product_name,
            product_theme,
            smstyle_id,
            size,
            smtype_id,
            media_id,
            platform,
            starlevel,
            consume,
            entrytime,
            materialpath,
        </trim>
        <trim prefix=" values(" suffix=")" suffixOverrides=",">
            #{companyId},
            #{productName},
            #{productTheme},
            #{smStyleId},
            #{size},
            #{smTypeId},
            #{mediaId},
            #{platform},
            #{starLevel},
            #{consume},
            #{entryTime},
            #{materialPath},
        </trim>
    </insert>

    <!-- 查询素材 -->
    <select id="findMaterialBy" parameterType="MaterialBean" resultMap="materialResult">
        select <include refid="materialColumn"/>,cy.c_name,t.t_name,s.s_name,ma.m_name
        from mbms_material ml
        inner join mbms_company cy on ml.company_id=cy.id
        inner join mbms_smtype t on ml.smtype_id=t.id
        inner join mbms_smstyle s on ml.smstyle_id=s.id
        inner join mbms_media ma on ml.media_id=ma.id and
        <trim suffixOverrides="and">
            <if test="id != null and id != ''">
                ml.id=#{id} and
            </if>
            <if test="productName != null and productName != ''">
                product_name=#{productName} and
            </if>
            <if test="companyId != null and companyId != ''">
                company_id=#{companyId} and
            </if>
            <if test="smTypeId != null and smTypeId != ''">
                smtype_id=#{smTypeId} and
            </if>
            <if test="size != null and size != ''">
                `size`=#{size} and
            </if>
            <if test="smStyleId != null and smStyleId != ''">
                smstyle_id=#{smStyleId} and
            </if>
            <if test="productTheme != null and productTheme != ''">
                product_theme=#{productTheme} and
            </if>
            <if test="consume != null and consume != ''">
                consume=#{consume} and
            </if>
            <if test="starLevel != null and starLevel != ''">
                starlevel=#{starLevel}  and
            </if>
            <if test="mediaId != null and mediaId != ''">
                media_id=#{mediaId} and
            </if>
            <if test="platform != null and platform != ''">
                platform=#{platform} and
            </if>
            <if test="entryTime != null and entryTime != ''">
                entrytime=#{entryTime} and
            </if>
            <if test="like != null and like > -1">
                <if test="switchLike == 0">
                    <![CDATA[`like` <= #{like}]]> and
                </if>
                <if test="switchLike == 1">
                    <![CDATA[`like` = #{like}]]> and
                </if>
                <if test="switchLike == 2">
                    <![CDATA[`like` >= #{like}]]> and
                </if>
            </if>
            <if test="browse != null and browse > -1">
                <if test="switchBrowse == 0">
                    <![CDATA[browse <= #{browse}]]> and
                </if>
                <if test="switchBrowse == 1">
                    <![CDATA[browse = #{browse}]]> and
                </if>
                <if test="switchBrowse == 2">
                    <![CDATA[browse >= #{browse}]]> and
                </if>
            </if>
            <if test="download != null and download > -1">
                <if test="switchDownload == 0">
                    <![CDATA[download <= #{download}]]> and
                </if>
                <if test="switchDownload == 1">
                    <![CDATA[download = #{download}]]> and
                </if>
                <if test="switchDownload == 2">
                    <![CDATA[download >= #{download}]]> and
                </if>
            </if>
            <if test="isDelete != null and isDelete > -1">
                isdelete=#{isDelete} and
            </if>
        </trim>
        order by ml.id asc
    </select>

    <!-- 修改删除状态为：1删除 -->
    <update id="delMaterialById" parameterType="java.lang.Integer">
        update mbms_material set isdelete=1 where id=#{_parameter}
    </update>

    <!-- 修改素材 -->
    <update id="editMaterial" parameterType="MaterialBean">
        update mbms_material
        <set>
            <trim suffixOverrides=",">
                <if test="companyId != null and companyId > 0">
                    company_id=#{companyId},
                </if>
                <if test="productName != null and productName != ''">
                    product_name=#{productName},
                </if>
                <if test="productTheme != null and productTheme != ''">
                    product_theme=#{productTheme},
                </if>
                <if test="smStyleId != null and smStyleId > 0">
                    smstyle_id=#{smStyleId},
                </if>
                <if test="size != null and size != ''">
                    `size`=#{size},
                </if>
                <if test="smTypeId != null and smTypeId > 0">
                    smtype_id=#{smTypeId},
                </if>
                <if test="mediaId != null and mediaId > 0">
                    media_id=#{mediaId},
                </if>
                <if test="platform != null and platform != ''">
                    platform=#{platform},
                </if>
                <if test="starLevel != null and starLevel > -1">
                    starlevel=#{starLevel},
                </if>
                <if test="consume != null and consume != ''">
                    consume=#{consume},
                </if>
            </trim>
        </set>
        <where>
            id=#{id}
        </where>
    </update>

</mapper>