<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.qicp.aaron.mapper.UserMapper">

    <!-- 查询用户是否存在 -->
    <select id="findByUser" parameterType="UserBean" resultType="java.lang.Integer">
        select id from user_info
        <where>
            <if test="name != null">
                name = #{name}
            </if>
            <if test="telephone != null">
                telephone = #{telephone}
            </if>
        </where>
    </select>

    <!-- 注册 -->
    <insert id="regUser" parameterType="UserBean">
        insert into `user_info`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="qq != null">
                qq,
            </if>
            <if test="wechat != null">
                wechat,
            </if>
            <if test="sina != null">
                sina,
            </if>
            <if test="createTime != null">
                createtime,
            </if>

        </trim>
        <trim prefix=" values(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="telephone != null">
                #{telephone},
            </if>
            <if test="qq != null">
                #{qq},
            </if>
            <if test="wechat != null">
                #{wechat},
            </if>
            <if test="sina != null">
                #{sina},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <!-- 登录 -->
    <select id="findByNameAndPassword" resultType="UserBean" parameterType="UserBean">
        select * from user_info
        where name=#{name} and password=#{password}
    </select>

    <!-- 更新登录时间 -->
    <update id="updateLoginTime" parameterType="UserBean">
        update user_info set lastlogintime=#{lastLoginTime}
        <where>
            <trim suffixOverrides="and">
                <if test="name != null and name != ''">
                    name=#{name} and
                </if>
                <if test="telephone != null and telephone != ''">
                    telephone=#{telephone}
                </if>
            </trim>
        </where>
    </update>

    <!-- 编辑用户 -->
    <update id="editUser" parameterType="UserBean">
        update user_info
        <set>
            name=#{name},
            <if test='password != null and password != ""'>
                password=#{password},
            </if>
            telephone=#{telephone},
            role_id=#{roleId},
            dept_id=#{deptId},
            <if test="headImg != null and headImg != ''">
                head_img=#{headImg}
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <!-- 查询用户信息通过用户名或手机号 -->
    <select id="findUserByNameOrTelephone" parameterType="UserBean" resultType="UserBean">
        select * from user_info
        <where>
            <trim suffixOverrides="and">
                <if test="name != null and name != ''">
                    name=#{name} and
                </if>
                <if test="telephone != null and telephone != ''">
                    telephone=#{telephone}
                </if>
            </trim>
        </where>
    </select>

</mapper>