<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Sign</title>

    <link rel="stylesheet" href="http://23u3i55086.51mypc.cn/css/reset.css">
    <link rel="stylesheet" href="http://23u3i55086.51mypc.cn/css/sign.css">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">

</head>
<body onkeydown="keyLogin()">

<div class="login_main">
    <!-- 标题 -->
    <div class="login_hearder">
        <div class="sign_hearder"><span>登录</span></div>
        <div class="signup_hearder"><span>注册</span></div>
    </div>
    <!-- 内容 -->
    <div class="login_content">
        <!-- 登录页面元素 -->
        <div class="sign_content">
            <!-- 账号登录 -->
            <div class="login_code">
                <div class="parent_icon">
                    <i class="user_icon"></i>
                    <input type="text" class="cl_username" placeholder="请输入账号" />
                </div>
                <div class="parent_icon">
                    <i class="pwd_icon"></i>
                    <input type="password" class="cl_password" placeholder="请输入密码" />
                </div>
                <div><a class="login_btn" id="code_login">登录</a></div>
                <div>
                    <a class="tab_phone" id="phone-login">手机验证码登录</a>
                    <a class="edit_pwd" href="#">忘记密码？</a>
                </div>
                <div class="other_login">
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
            </div>
            <!-- 手机号登录 -->
            <div class="login_phone">
                <div>
                    <select name="">
                        <option value="0">中国 +86</option>
                        <option value="0">哈萨克斯坦 +7</option>
                    </select>
                    <i class="cell_phone_number_icon"></i>
                    <input class="cell_phone_number_icon" type="text" placeholder="请输入常用手机号">
                </div>
                <div>
                    <input class="vli_code" type="text" placeholder="请输入验证码">
                    <a class="send_code" id="send_code_login">发送验证码</a>
                </div>
                <div><a class="login_btn" id="phone_login">登录</a></div>
                <div><a class="tab_phone" id="code-login">账号登录</a></div>
                <div class="other_login">
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
            </div>
            <!-- 错误消息提示 -->
            <div class="error_msg sign_err">
                <i class="sign_err_i" th:style="'display: block;'" th:if="not ${#strings.isEmpty(session.sign_msg)}" ></i>
                <span th:text="${session.sign_msg}" th:if="not ${#strings.isEmpty(session.sign_msg)}" ></span>
            </div>
        </div>
        <!-- 注册页面元素 -->
        <div class="signup_content">
            <!-- 其他注册 -->
            <div class="other_sign">
                <a class="qq" href="#"><i></i>QQ注册</a>
                <a class="wx" href="#"><i></i>微信注册</a>
                <a class="wb" href="#"><i></i>微博注册</a>
            </div>
            <!-- 手机验证码注册 -->
            <div class="phone_reg">
                <div class="cell_phone_number">
                    <select name="">
                        <option value="0">中国 +86</option>
                        <option value="0">哈萨克斯坦 +7</option>
                    </select>
                    <i class="cell_phone_number_icon"></i>
                    <input class="cell_phone_number_icon cpn_val" type="text" placeholder="请输入常用手机号">
                </div>
                <div>
                    <input class="vli_code vc_val" type="text" placeholder="请输入验证码">
                    <a class="send_code" id="send_code">发送验证码</a>
                </div>
                <div><a class="regi_btn" id="cpn_reg">注册</a></div>
                <div class="tab_reg"><a class="tab_code_reg">账号注册</a></div>
            </div>
            <!-- 账号注册 -->
            <div class="code_reg">
                <div class="parent_icon">
                    <i class="user_icon"></i>
                    <input type="text" class="cr_username" placeholder="请输入账号/手机号码" />
                </div>
                <div class="parent_icon">
                    <i class="pwd_icon"></i>
                    <input type="password" class="cr_password" placeholder="请输入密码" />
                </div>
                <div><a class="regi_btn" id="cr_reg">注册</a></div>
                <div class="tab_reg"><a class="tab_phone_reg">手机验证码注册</a></div>
            </div>
            <div class="agree"><i></i><span>勾选代表你同意《版权声明》《隐私声明》</span></div>
            <!-- 错误消息提示 -->
            <div class="error_msg signup_err"><i></i><span></span></div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="http://23u3i55086.51mypc.cn/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" src="http://23u3i55086.51mypc.cn/js/sign.js"></script>
</html>