<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign</title>

    <link rel="stylesheet" href="http://192.168.0.125/css/reset.css">
    <link rel="stylesheet" href="http://192.168.0.125/css/sign.css">

</head>
<body>

<div class="login_main">
    <!-- 标题 -->
    <div class="login_hearder">
        <div class="sign_hearder"><span>登录</span></div>
        <div class="signup_hearder"><span>注册</span></div>
    </div>
    <!-- 内容 -->
    <div class="login_content">
        <!-- 登录页面元素 -->
        <div class="sign_content">
            <!-- 账号登录 -->
            <div class="login_code">
                <div class="parent_icon">
                    <i class="user_icon"></i>
                    <input type="text" name="username" placeholder="请输入账号/手机号码" />
                </div>
                <div class="parent_icon">
                    <i class="pwd_icon"></i>
                    <input type="password" name="password" placeholder="请输入密码" />
                </div>
                <div><a class="login_btn" >登录</a></div>
                <div>
                    <a class="tab_phone" id="phone-login">手机验证码登录</a>
                    <a class="edit_pwd" href="#">忘记密码？</a>
                </div>
                <div class="other_login">
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
            </div>
            <!-- 手机号登录 -->
            <div class="login_phone">
                <div>
                    <select name="">
                        <option value="0">中国 +86</option>
                        <option value="0">哈萨克斯坦 +7</option>
                    </select>
                    <i class="cell_phone_number_icon"></i>
                    <input class="cell_phone_number_icon" type="text" placeholder="请输入常用手机号">
                </div>
                <div>
                    <input class="vli_code" type="text" placeholder="请输入验证码">
                    <a class="send_code" href="#">发送验证码</a>
                </div>
                <div><a class="login_btn" href="#">登录</a></div>
                <div><a class="tab_phone" id="code-login">账号登录</a></div>
                <div class="other_login">
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
            </div>
        </div>
        <!-- 注册页面元素 -->
        <div class="signup_content">
            <!-- 其他注册 -->
            <div class="other_sign">
                <a class="qq" href="#"><i></i>QQ注册</a>
                <a class="wx" href="#"><i></i>微信注册</a>
                <a class="wb" href="#"><i></i>微博注册</a>
            </div>
            <!-- 手机验证码注册 -->
            <div class="phone_reg">
                <div class="cell_phone_number">
                    <select name="">
                        <option value="0">中国 +86</option>
                        <option value="0">哈萨克斯坦 +7</option>
                    </select>
                    <i class="cell_phone_number_icon"></i>
                    <input class="cell_phone_number_icon" type="text" placeholder="请输入常用手机号">
                </div>
                <div>
                    <input class="vli_code" type="text" placeholder="请输入验证码">
                    <a class="send_code" href="#">发送验证码</a>
                </div>
                <div><a class="regi_btn" href="#">注册</a></div>
                <div class="tab_reg"><a class="tab_code_reg">账号注册</a></div>
            </div>
            <!-- 账号注册 -->
            <div class="code_reg">
                <div class="parent_icon">
                    <i class="user_icon"></i>
                    <input type="text" name="username" placeholder="请输入账号/手机号码" />
                </div>
                <div class="parent_icon">
                    <i class="pwd_icon"></i>
                    <input type="password" name="password" placeholder="请输入密码" />
                </div>
                <div><a class="regi_btn" href="#">注册</a></div>
                <div class="tab_reg"><a class="tab_phone_reg">手机验证码注册</a></div>
            </div>
            <div class="agree"><i></i><span>勾选代表你同意《版权声明》《隐私声明》</span></div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="http://192.168.0.125/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="http://192.168.0.125/js/sign.js"></script>
</html>