<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>UserManager</title>

    <!-- 引入CSS样式表 -->
    <link rel="stylesheet" href="http://192.168.0.125/css/reset.css">
    <link rel="stylesheet" href="http://192.168.0.125/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://192.168.0.125/css/styles.css">
    <link rel="stylesheet" href="http://192.168.0.125/css/media.css">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
    <link rel="stylesheet" href="http://192.168.0.125/css/umanager.css">

</head>
<body>
<!-- 头部信息 -->
<div class="header">
    <!-- 顶部导航栏 -->
    <div th:replace="~{pages/iframe/navbar.html::topNav}"></div>
</div>
<!-- 主体信息 -->
<div class="main-container">
    <!-- 左侧导航栏 -->
    <div th:replace="~{pages/iframe/navbar::leftNav(activeUri='user.html')}"></div>
    <!-- 主体内容 -->
    <div class="content">
        <div class="container-fluid">
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                    <li class="layui-this">个人中心</li>
                </ul>
                <div class="layui-tab-content" style="height: 100px;">
                    <div class="layui-tab-item layui-show">
                        <form id="form_submit" th:action="@{/edituser}" method="post" enctype="multipart/form-data" lay-filter="example" class="layui-form">
                            <div class="layui-form-item set_head">
                                <img class="upload_img" src="" alt="头像"/>
                                <div class="layui-input-block">
                                    <label class="layui-form-label img_btn" for="upload_file">设置头像</label>
                                    <input id="upload_file" type="file" name="img" hidden>
                                    <input type="hidden" name="id" lay-verify="title" autocomplete="off" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label"><i>*</i> 用户名</label>
                                <div class="layui-input-block">
                                    <input type="text" name="name" required lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item pwd_display">
                                <label class="layui-form-label"><i>*</i> 密码</label>
                                <div class="layui-input-block">
                                    <input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item pwd_display">
                                <label class="layui-form-label"><i>*</i> 确认密码</label>
                                <div class="layui-input-block">
                                    <input type="password" name="pwd" placeholder="请确认密码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">注册部门</label>
                                <div class="layui-input-block">
                                    <select class="dept_choose" name="deptId"></select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">手机号码</label>
                                <div class="layui-input-block">
                                    <input type="text" name="telephone" lay-verify="title" autocomplete="off" placeholder="请输入手机号" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" id="btn_submit">立即提交</button>
                                    <span class="submit_msg"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 引入JS库 -->
<script type="text/javascript" src="http://192.168.0.125/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="http://192.168.0.125/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://192.168.0.125/js/carbon.js"></script>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" src="http://192.168.0.125/js/umanagerinit.js"></script>
<!-- JS监听屏幕改变 -->
<script type="text/javascript" src="http://192.168.0.125/js/screen_set.js"></script>
</html>