<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>5xx</title>

    <!-- 引入CSS样式表 -->
    <link rel="stylesheet" href="http://23u3i55086.51mypc.cn/css/reset.css">
    <link rel="stylesheet" href="http://23u3i55086.51mypc.cn/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://23u3i55086.51mypc.cn/css/styles.css">
    <link rel="stylesheet" href="http://23u3i55086.51mypc.cn/css/media.css">
    <style type="text/css">
        .container-fluid div {
            margin: auto;
            text-align: center;
        }
    </style>

</head>
<body>
<!-- 头部信息 -->
<div class="header">
    <!-- 顶部导航栏 -->
    <div th:replace="~{pages/iframe/navbar.html::topNav}"></div>
</div>
<!-- 主体信息 -->
<div class="main-container">
    <!-- 左侧导航栏 -->
    <div th:replace="~{pages/iframe/navbar::leftNav}"></div>
    <!-- 主体内容 -->
    <div class="content">
        <div class="container-fluid">
            <div>
               <h1>[[${status}}]]</h1>
               <h2>服务器异常，请稍后再试！</h2>
           </div>
            <div class="error">
                <p class="title"><span class="code" th:text="${status}"></span>非常抱歉，服务器走丢了！</p>
                <a href="/" class="btn-back common-button">返回首页</a>
                <div class="common-hint-word">
                    <div th:text="${#dates.format(timestamp,'yyyy-MM-dd HH:mm:ss')}"></div>
                    <div th:text="${messages}"></div>
                    <div th:text="${error}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 引入JS库 -->
<script type="text/javascript" src="http://23u3i55086.51mypc.cn/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="http://23u3i55086.51mypc.cn/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://23u3i55086.51mypc.cn/js/carbon.js"></script>
<!-- JS监听屏幕改变 -->
<script type="text/javascript" src="http://23u3i55086.51mypc.cn/js/screen_set.js"></script>
</html>