<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <!-- 引入CSS样式表 -->
    <link rel="stylesheet" href="http://192.168.0.125/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://192.168.0.125/css/styles.css">


</head>
<body>
<!-- 头部信息 -->
<div class="header">
    <!-- 顶部导航栏 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div style="background-color: white; border-radius:50%; margin-right: 10px;"><img src="http://192.168.0.125/images/logo.png" alt="" width="35px" height="35px"></div>
        <a class="navbar-brand" href="#">HetaolinMedia</a>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav" >
                <li class="nav-item active">
                    <a class="nav-link" href="#">Sign</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign up</a>
                </li>
                <li class="nav-item">
                    <img src="http://192.168.0.125/images/2.jpg" alt="" width="35px" height="35px" style="border-radius:50%">
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- 主体信息 -->
<div class="sidebar">
    <!-- 左侧导航栏 -->
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a href="index.html" class="nav-link active"> Home </a>
            </li>
            <li class="nav-item nav-dropdown">
                <a href="#" class="nav-link nav-dropdown-toggle"> 素材库 </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a href="#" class="nav-link"> 搜索 </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"> 导入 </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"> 录入 </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a href="#" class="nav-link nav-dropdown-toggle"> 关键词库 </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a href="#" class="nav-link"> 搜索 </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"> 导入 </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"> 录入 </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link"> 账号管理 </a>
            </li>
            <li class="nav-item nav-dropdown">
                <a href="#" class="nav-link nav-dropdown-toggle"> 帮助 </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a href="#" class="nav-link"> 关键词使用手册 </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"> 素材使用手册 </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"> 关于 </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- 主体内容 -->
    <div>

    </div>
</div>
<!-- 底部信息 -->
<div class="footer"></div>
</body>

<!-- 引入JS库 -->
<script type="text/javascript" src="http://192.168.0.125/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="http://192.168.0.125/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://192.168.0.125/js/carbon.js"></script>

</html>